body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    background-color: #d4d4d4;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
}

.display {
    background-color: #222;
    color: #ffffff;
    font-size: 2em;
    padding: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    background-color: #f1f1f1;
    border: 1px solid #82f0ff;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #ddd;
}
